eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/
server:
  port: 8900
spring:
  application:
    name: zuulservice
zuul:
  routes:
    api:
      path: /api/**
      serviceId: feignclient